body{
    background-color: rgb(13, 13, 13);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.3;

    --color-accent: rgba(255, 0, 0, 0.28);
    --color-accent-low: rgba(146, 0, 0, 0.28);

    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
}

button{
    appearance: none;
    border: none;
    outline: none;
}

button:hover{
    cursor: pointer;
}

.bg-container{
    opacity: .5;
}

.bg-image{
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: max(110vw, 110vh);
    background-repeat: no-repeat;
    
    background-image: url(./pizza_oven_tiny.webp);
    box-shadow: inset 0 0 50px 10px black;
    filter: blur(8px) saturate(1.4) hue-rotate(-5deg);
}

.img-link{
    position: absolute;
    bottom: 8px;
    left: 50%;
    width: 100%;
    text-align: center;
    translate: -50% 0;
    color: rgb(255, 255, 255);
    opacity: .5;
}

header{
    z-index: 0;
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;


    background-color: #00000057;
    border-bottom: 2px solid var(--color-accent);
}

header > h1{
    padding-inline: 16px;
    user-select: none;
}

header > nav{
    align-self: stretch;
}

nav > ul{
    display: grid;
    grid-auto-flow: column;
    height: 100%;
}

li{
    list-style-type: none;
    height: 100%;
}

li > button{
    height: 100%;
    padding-inline: 25px;
    background-color: #00000000;
    border-left: 2px solid rgba(0, 0, 0, 0.28);
    font-weight: bold;
}

li:last-child > button{
    border-right: 2px solid rgba(0, 0, 0, 0.28);
}

li > button:hover{
    background-color: #b7b7b723;
}

.contact-info{
    padding-inline: 16px;
    color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-info > div {
    display: flex;
    gap: 8px;
    align-items: center;
}

#content{
    position: relative;
    display: grid;
    place-content: center;
    margin-top: 10vh;
}

.home-container{
    overflow: hidden;
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: auto;
    align-items: stretch;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.471);
}

.home-image-container{
    position: relative;
    overflow: hidden;
}

.home-image-container > img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    border-right: 2px solid var(--color-accent);
}

.home-image-container *{
    color: black;
}

.home-info{
    background-color: #000000aa;
    width: 25vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.home-info > h2{
    font-size: 3rem;
}

.home-info > div{
    margin-top: 16px;
}

.home-info > button{
    align-self: center;
    margin-top: 100px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.644);
    --color-bg: rgba(0, 0, 0, 0.446);
    --color-hg: rgba(255, 255, 255, 0);
    background: linear-gradient(-45deg, 
                            var(--color-hg) 10px, 
                            var(--color-hg) 10px,
                            var(--color-hg) 16px,
                            var(--color-bg) 16px, 
                            var(--color-bg) 22px,
                            var(--color-hg) 22px,
                            var(--color-bg) 28px);
    transition: border .2s;
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.home-info > button:hover{
    --color-bg: rgba(87, 87, 87, 0.24);
    border: 2px solid rgba(255, 255, 255, 0.5);
}