body{
    background-color: rgb(13, 13, 13);
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

button{
    appearance: none;
    border: none;
    outline: none;
}

button:hover{
    cursor: pointer;
}

.bg-container{
    opacity: .5;
}

.bg-image{
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: max(110vw, 110vh);
    background-repeat: no-repeat;
    background-position: 50%;
    
    background-image: url(./serjan-midili--9LB0GKPF0o-unsplash.webp);
    box-shadow: inset 0 0 50px 10px black;
    filter: blur(8px);
}

.img-link{
    position: absolute;
    bottom: 8px;
    left: 50%;
    width: 100%;
    text-align: center;
    translate: -50% 0;
    color: rgb(255, 255, 255);
    opacity: .5;
}

header{
    z-index: 0;
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;


    background-color: #00000057;
    border-bottom: 2px solid rgba(255, 0, 0, 0.28);
}

header > h1{
    padding-inline: 16px;
    user-select: none;
}

header > nav{
    align-self: stretch;
}

nav > ul{
    display: grid;
    grid-auto-flow: column;
    height: 100%;
}

li{
    list-style-type: none;
    height: 100%;
}

li > button{
    height: 100%;
    padding-inline: 25px;
    background-color: #00000000;
    border-left: 2px solid rgba(0, 0, 0, 0.28);
    font-weight: bold;
}

li:last-child > button{
    border-right: 2px solid rgba(0, 0, 0, 0.28);
}

li > button:hover{
    background-color: #b7b7b723;
}

.contact-info{
    padding-inline: 16px;
    color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-info > div {
    display: flex;
    gap: 8px;
    align-items: center;
}

#content{
    position: relative;
    display: grid;
    place-content: center;
    margin-top: 10vh;
}

.home-container{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.home-image-container{
    position: relative;
    display: flex;
}

.home-image-container > img{
    height: 400px;
    width: auto;
}

.home-image-container *{
    color: black;
}

.home-info{
    background-color: #000000aa;
    width: 25vw;
    padding: 16px;
}

.home-info > h2{
    font-size: 3rem;
}

.home-info > div{
    margin-top: 16px;
}